/* To change the background of the entire website
select body and use property background-color. */
body {

    background-color: #530c4a; 
    color: #c2f7d3;
}

a {
    color:#f5ac84;
}
h2 {
    color: #a0f5c1;

}

#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Arial"
}

#header {
    background-color:#8b0885 

}

#header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 7px;
/*   color: #2A403F;*/
    color:#edf2f7;

}


#header ul {
 /*  border-color: white;*/
    border-style: dashed;
    border-width: 1px;  
    color: white;
    text-align: center;
    padding-left:0;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 18px;

}

#header ul li {
    background-color: #e1c7eb;
    border-style: solid;
    border-style: inline-block;
    border-width: 1px;
    /*display: inline;  /*will line up the list elements in the unordered list(ul) one next to the other */
    display: inline-block;  /* lines up list elements as blocks */
    margin-left: 70px;
    margin-right: 70px;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 2px;
}

#header ul li a:link{
    color: white;
    text-decoration: none;
}

#header ul li a:visited {
    color: rgb(6, 86, 136);
}

#header ul li a:hover {
    color: red;
}

#header ul li a:active {
    color: pink;
    margin-left: 5px;
    margin-top: 5px;
}

   
#footer {
    height: 30px; 
}

#footer h3 {
    text-align: left;
    margin-left: 40px;
}

#footer ul li {
    text-align: left;
}

#footer ul p {
    text-align: left;
}


#main {
}

#first-section {
    margin-top: 0;
    padding-top: 12px;
}

#main p {
    text-align: left;
    margin-right: 30px;
    margin-left: 40px;
    line-height: 22px;
    color: #80bff3;
} 

#main ul li {
    text-align: left;
    margin-right: 30px;
    margin-left: 425px;
    line-height: 22px;
}

#main img {
    text-align: right;
    border-style: solid;
    border-width: 2px;
    border-color: #798C8C;
    border-radius: 5px;
}

#main img:hover{
    border-color: pink;
}

#main h3 {
    text-align: auto;
}